.container{
    height: 100%;
    width: 100%;
    position: absolute;
}

.top{
    /*background-color: #1C263C;*/
    background-color: #1A1A1A;
    color: white;
    height: 40px;
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    z-index: 200;
}

.top a{
    /*color: white;*/
    text-decoration: none;
}

.top a:hover{
    background-color: #313C53;
}

.title{
    margin: 0;
    padding: 3px 17px;
    display: inline-block;
    height: 34px;
    color: #00B7DD;
}

.main{
    display: flex;
    flex-flow: row;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
}

.left{
    background-color: #262626;
    color: lightgray;
    height: 100%;
    display: inline-block;
}
.right{
    position: relative;
    flex: 1 1 auto;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
.page-title {
    display: inline-block;
    width: calc(100% - 220px);
    text-align: center;
}

ul.menu, ul.sub-menu{
    list-style: none;
    padding: 0px;
}
ul.menu > li:last-child > a{
    border-bottom: 1px solid #151515;
}
ul.menu > li > a, ul.sub-menu > li > a{
    display: block;
    color: lightgray;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
}

ul.menu > li > a{
    border-top: 1px solid #151515;
    background-color: #29292d;
    padding-left: 30px;
    width: 180px;
}
ul.menu > li > a:hover{
    background-color: #313C53;
}

ul.sub-menu > li > a{
    border-top: 1px solid #363636;
    background-color: #4f4f59;
    padding-left: 40px;
    width: 170px;
}
ul.sub-menu > li > a:hover{
    background-color: #313C53;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

tr:nth-child(2n + 1) {
    background-color: #DDDDDD;
}
tr:hover {
    background-color: #AAAAAA;
    cursor: pointer;
}
tr, table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left; 
    width:100%;
}