.title-color {
    color: #009F99;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.top {
    /*background-color: #1C263C;*/
    background-color: #1A1A1A;
    color: white;
    height: 40px;
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    z-index: 200;
}

.top a {
    /*color: white;*/
    text-decoration: none;
}

.top a:hover {
    background-color: #313C53;
}

.title {
    margin: 0;
    padding: 3px 17px;
    display: inline-block;
    height: 34px;
}

.main {
    display: flex;
    flex-flow: row;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
}

.left {
    background-color: #262626;
    color: lightgray;
    height: 100%;
    display: inline-block;
}

.right {
    position: relative;
    flex: 1 1 auto;
    padding: 5px;
    background-color: #b4b4b4;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-title {
    display: inline-block;
    width: calc(100% - 220px);
    text-align: center;
}

ul {
    height: auto;
}

ul.menu,
ul.sub-menu {
    list-style: none;
    padding: 0px;
    overflow: hidden;
}

ul.menu > li:last-child > a {
    border-bottom: 1px solid #151515;
}

ul.menu > li > a,
ul.sub-menu > li > a {
    display: block;
    color: lightgray;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
}

ul.menu > li > a {
    border-top: 1px solid #151515;
    background-color: #29292d;
    padding-left: 30px;
    width: 180px;
}

ul.menu > li > a:hover {
    background-color: #313C53;
}

.hidden {
    display: none;
}

ul.sub-menu > li > a {
    border-top: 1px solid #363636;
    background-color: #4f4f59;
    padding-left: 40px;
    width: 170px;
}

ul.sub-menu > li > a:hover {
    background-color: #313C53;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
  margin: 10px 10px;
  background-color: #FFFFFF; 
  border: 1px solid #2F6989;
  min-width: 200px;
}

.box > header{
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #2F6989;
  color: white;
}

.box > div{
  padding: 10px;
}

.col-3, .col-4, .col-6, .col-12{
  height: auto;
}

.col-3 {
  width: calc(25% - 22px);
}

.col-4 {
  width: calc(33.33% - 22px);
}

.col-6{
  width: calc(50% - 22px);
}
.col-12{
  width: 100%;
}

.row{
  display: flex;
  /*margin: 20px 0;*/
  flex-flow: wrap;
  /*height:  200px;*/
}

.row > div.box{
    min-height: 200px;
}

.body-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

div.right > header {
    margin: 0 20px;
    font-weight: bold;
    font-size: 2em;
}


.page-header > h2{
    margin: 0px;
    display: inline-block;
    /*background-color: white;*/
    padding: 10px 10px 0 10px;
    margin: 10px 10px;
    border-bottom: 5px solid black;
}

.expander{
    float: right;
    margin-right: 10px;
    transition: transform 0.5s ease 0s;
    transform: rotate(-90deg);
    transform-origin: 50% 50% 0px;
}

.rotate{
    transform: rotate(0);
}