﻿<div style="text-align: left;">
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="NewFile" /><br />
        <input type="submit" class="button" value="Send inn" />
    </form>
</div>